pipeline/PL_ingest_daily_pricing_data.json
{
	"name": "PL_ingest_daily_pricing_data",
	"properties": {
		"activities": [
			{
				"name": "Set variable source file date",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pln_var_source_file_date",
					"value": {
						"value": "@formatDateTime(pipeline().parameters.pln_prm_source_file_date,'MMddyyyy')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup Read Json Metadata",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable source file date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_ADLS_JSON_PRICING_META_DATA_FILES",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Iterate Source File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Read Json Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Read Json Metadata').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy daily pricing data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_HTTP_SOURCE_PRICING_DATA",
									"type": "DatasetReference",
									"parameters": {
										"dst_prm_Relative_URL": {
											"value": "@concat(item().Relative_URL_folder_name,item().Relative_URL_file_name,variables('pln_var_source_file_date'),item().Relative_URL_file_type)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_DAILY_PRICING_DATA",
									"type": "DatasetReference",
									"parameters": {
										"dst_prm_sink_container_name": {
											"value": "@item().sink_container_name",
											"type": "Expression"
										},
										"dst_prm_sink_folder_name": {
											"value": "@item().sink_folder_name",
											"type": "Expression"
										},
										"dst_prm_sink_file_name": {
											"value": "@concat(item().sink_file_name,variables('pln_var_source_file_date'),item().sink_file_type)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"pln_prm_source_file_date": {
				"type": "string",
				"defaultValue": "2023-01-01T10:10:10Z"
			}
		},
		"variables": {
			"pln_var_source_file_date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Ingest"
		},
		"annotations": [],
		"lastPublishTime": "2025-12-20T14:07:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}